<h1><%= @person.full_name %>(<%= @person.level %>)</h1>

<%- unless @person.directed_schools.empty? -%>
    <h2><%= t('.director_of') %>: <%= @person.directed_schools.map{|s|s.name}.join(', ') %></h2>
<%- end -%>
<h3><%= t('.member_of') %>: <%= @person.school.try(:name) %></h3>

<div id="person_data">
  <%= render :partial => 'person_data' %>
</div>

<p>
  <%= link_to_if can?(:update, @person), t('edit'), edit_person_path(@person) %>
</p>

<%= render :partial => 'observations' %>
<%= render :partial => 'general_evaluations' %>