<h1><%= @person.full_name %></h1>

<div id="observations">
  <h2><%= t('.observations') %></h2>
  <ul>
    <%- @person.observations.each do |o| -%>
      <li>
        <h3><%= l o.observed_on %> - <%= o.observer.username %></h3>
        <%= o.observation %>
      </li>
    <%- end -%>
  </ul>
  <%= link_to t('.new_observation'), new_person_observation_path(:person_id => @person.id) %>
</div>