<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :school_id %><br />
    <%= f.text_field :school_id %>
  </div>
  <div class="field">
    <%= f.label :monitor_id %><br />
    <%= f.text_field :monitor_id %>
  </div>
  <div class="field">
    <%= f.label :supervisor_id %><br />
    <%= f.text_field :supervisor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
