<h1>Listing unames</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Named class</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unames.each do |uname| %>
  <tr>
    <td><%= uname.name %></td>
    <td><%= uname.named_class %></td>
    <td><%= uname. %></td>
    <td><%= link_to 'Show', uname %></td>
    <td><%= link_to 'Edit', edit_uname_path(uname) %></td>
    <td><%= link_to 'Destroy', uname, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Uname', new_uname_path %>
