<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @uname.name %>
</p>

<p>
  <b>Named class:</b>
  <%= @uname.named_class %>
</p>

<p>
  <b>:</b>
  <%= @uname. %>
</p>


<%= link_to 'Edit', edit_uname_path(@uname) %> |
<%= link_to 'Back', unames_path %>
