<!DOCTYPE html>
<html>
<head>
  <title><%= t('page_title') %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'jquery.autocomplete' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.4.min' %>
  <%= javascript_include_tag 'jquery.autocomplete.min' %>
  <%= javascript_include_tag 'rails' %>
</head>
<body>

<div id="flash_messages">
  <p class="success">
    <%= flash[:success] %>
  </p>
  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
</div>

<div id="session">
  <%- if user_signed_in? -%>
    <%= current_user.username %> | <%= link_to t('sign_out'), destroy_user_session_path %>
  <%- end -%>
</div>

<%= yield %>

</body>
</html>

